
<launch>
  <arg name="rotation" default="180" />
  <node name="jarvis" pkg="jarvis" type="jarvis" args="-v1 -r$(arg rotation) -c $(find jarvis)/data/classifier.gc --config $(find jarvis)/config/hand_specified.yml -u $(find jarvis)/config/up-kitchen-post_gluing.eig.txt" required="true" />
  <node name="cannon" pkg="jarvis" type="cannon_reactor" args="" required="true" output="screen" />
</launch>