
<launch>
  <arg name="rotation" default="0" />
  <!-- bagfile must be an absolute path! -->
  <arg name="bagfile" />
  
  <node name="jarvis" pkg="jarvis" type="jarvis" args="-v1 -r$(arg rotation) -c $(find jarvis)/data/classifier.gc --config $(find jarvis)/config/hand_specified.yml" required="true" />
  <node name="rosbag" pkg="rosbag" type="play" args="$(arg bagfile) --topics /foreground --skip-empty 0.5" required="true" />
  <node name="cannon" pkg="jarvis" type="cannon_reactor" args="" required="true" output="screen" />
</launch>