<launch>

  <!-- In degrees. -->
  <arg name="rotation" default="0" />
  <!-- td-dir must be an absolute path! -->
  <arg name="td-dir" default="$(env PWD)/tds" />
  <!-- bagfile-dir must be an absolute path! -->
  <arg name="bagfile-dir" default="$(env PWD)/bags" />

  <!-- Track & classify objects.  Also save tracks to TD files.  -->
  <!-- Right now this program only works with a single sentinel.  -->
  <node name="jarvis" pkg="jarvis" type="jarvis"
        required="true"
        args="-v1
              -r$(arg rotation)
              --record $(arg td-dir)
              --config $(find jarvis)/config/less_gravity.yml
              "/>

  <!-- Record all the foreground messages received from sentinel devices. -->
  <!-- This script seems to be required to automatically create the directory. -->
  <node name="record_bags" pkg="sentinel" type="record_bags.sh"
        required="true"
        args="$(arg bagfile-dir)"
        />
  
</launch>