<launch>

  <arg name="occupancy-threshold" default="800" />
  <!-- recording-directory must be an absolute path! -->
  <arg name="recording-directory" default=" $(env PWD)/videos" />
  
  <node name="sentinel" pkg="sentinel" type="stream"
        required="true"
        args="--color-res QVGA
              --depth-res QVGA
              --sensor-id default_sensor_id
              --occupancy-threshold $(arg occupancy-threshold)
              --recording-dir $(arg recording-directory)
              "/>
  
</launch>