<launch>

  <arg name="classifier"/>
  <arg name="cname"/>
  <arg name="rotation" default="0" />
  <arg name="occupancy-threshold" default="1200" />
  <arg name="recording-directory" default=" $(env PWD)/videos" />
  
  <node name="sentinel" pkg="sentinel" type="stream"
        required="true"
        args="--color-res QVGA
              --depth-res QVGA
              --sensor-id default_sensor_id
              --occupancy-threshold $(arg occupancy-threshold)
              --recording-dir $(arg recording-directory)
              "/>

  <!-- Track & classify objects.  Also save tracks to TD files.  -->
  <!-- Right now this program only works with a single sentinel.  -->
  <node name="jarvis" pkg="jarvis" type="jarvis"
        required="true"
        args="-v1
              -r$(arg rotation)
              -c $(arg classifier)
              --config $(find jarvis)/config/less_gravity.yml
              "/>

  <node name="email_on_detection" pkg="jarvis" type="email_on_detection"
        required="true"
        output="screen"
        args="teichman@cs.stanford.edu $(arg cname)
              --also-gtalk alex.teichman@gmail.com
              --min-period 600
              --message 'Detected open door at Gates'
              "/>
  
</launch>