<launch>
  <arg name="td-dir" default="$(env PWD)/tds" />
  <arg name="classifier" default="none" />
  
  <!-- gi-dir must be an absolute path! -->
  <arg name="gi-dir" default="$(env PWD)/group_induction" />

  <!-- Run group induction on the unlabeled data that is getting saved to disk
       For initialization of the descriptor space bounds there need to be at least
        launch-prefix="gdb -ex run args"
       a few .td files in $(arg td-dir) already. -->
  <node name="induct" pkg="jarvis" type="induct"
        required="true"
        output="screen"
        args="--class-names interesting
              --config $(find jarvis)/config/less_gravity.yml
              --emax 0
              --buffer-size 1000
              --max-track-length 30
              --snapshot-every 10
              --evaluate-every 0
              --unlabeled-td-dir $(arg td-dir)
              --output-dir $(arg gi-dir)
              --broadcast
              --classifier $(arg classifier)
              "/>
  
</launch>