<launch>

  <!-- In degrees. -->
  <arg name="rotation" default="0" />
  <!-- td-dir must be an absolute path! -->
  <arg name="td-dir" default="$(env PWD)/jarvis_tds" />
  <!-- bagfile-dir must be an absolute path! -->
  <!-- Also, the trailing slash is essential. -->
  <arg name="bagfile-dir" default="$(env PWD)/sentinel_bags/" />

  <!-- Track & classify objects.  Also save tracks to TD files.  -->
  <!-- Right now this program only works with a single sentinel.  -->
  <node name="jarvis" pkg="jarvis" type="jarvis"
        required="true"
        args="-v1
              -r$(arg rotation)
              --record $(arg td-dir)
              --config $(find jarvis)/config/less_gravity.yml
              "/>

  <!-- Record all the foreground messages received from sentinel devices. -->
  <node name="rosbag" pkg="rosbag" type="record"
        args="-a --split=1024 -j -o $(arg bagfile-dir)"/>

</launch>