
<launch>
  <arg name="bagfile" />
  <arg name="rotation" default="0" />
  <!-- output-directory must be a path relative to where the roslaunch file is started from! -->
  <arg name="output-directory" default="jarvis_tds" />
  
  <node name="jarvis" pkg="jarvis" type="jarvis" args="-v1 -r$(arg rotation) -o $(env PWD)/$(arg output-directory)" required="true" />
  <node name="rosbag" pkg="rosbag" type="play" args="$(env PWD)/$(arg bagfile) --topics /foreground --skip-empty 0.5" required="true" />
</launch>